/* global styles */
*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

@font-face {
    font-family: 'saans' ;
    src: url(/resources/saans-font-family/Saans-TRIAL-Medium.otf);
}

@font-face {
    font-family: 'saans-light' ;
    src: url(/resources/saans-font-family/Saans-TRIAL-Light.otf);
}

a{
    text-decoration: none;
    color: #0e9594;
}

.paragraph{
    font-family: 'saans-light';
    font-weight: 600;
    color: rgb(126, 124, 124);
    line-height: 150%;
    grid-column: span 2;
    margin-bottom: 1rem;

}

h1{
    font-family: 'saans';
    font-size: clamp(64px , 5vw, 96px);
    line-height: 90%;
    margin-bottom: 1.4rem;
}

h2{

   font-family: 'saans';
   margin-bottom: 1rem;
}

h4{
    font-family: 'saans';
    margin-bottom: 1rem;

}

h5{
    font-family: 'saans-light';
    font-size:clamp(24px, 5vw, 32px);
    font-weight: 300;
}


html body{
    font-family:'satoshi' ;
    font-weight: normal;
    color: #1d201f;
    overflow-x: hidden;
    margin-top: 80px;
    height: fit-content;
}


main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: stretch;
    gap: 48px 16px;
    height: fit-content;
    width: 100%;
    padding: clamp(1.2rem , 5vw , 2rem);
}



.intro{
    grid-column: span 3;
    
}


/* header section */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'saans';
    background-color: white;
    border-bottom: 1px solid #1d201f;
}
.menu{
    display: flex;
    list-style-type: none;
}

.menu-item{
    margin-left: 1rem;
    color: #1d201f;
}



/* hero section */





.Hero-container{
 display: grid;
 grid-template-columns: repeat(4 1fr);
 gap:  16px;
} 


.image{
    max-height: 600px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Use 'contain' to show full image without cropping */
  overflow: hidden;
}

.text-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}




.About-section{
    grid-column: span 3;
}

.About-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 16px;
}



.story{
    grid-column: span 1;
}

.who-we-are-container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 16px;
}

.who-we-are-heading{
    grid-column: span 3;
}
.who-we-are-text-1 {
    grid-column: span 3;
}

.who-we-are-text-2 {
    grid-column: span 3;
}




/* footer{
   
    height: 40%;
}
 */









































@media (max-width: 768px) {


 .Hero-container{
    grid-column: span 3;
 }

 .All-work-section{
    grid-column: span 3;
 }

 .Hero-text{
    grid-column: span 2;
 }

 .about-me{
    grid-column: span 3;
 }

  nav {
    display: none; /* Hidden on screens wider than 768px */
  }

  .story{
    grid-column: span 4;
}

 

 

 .About-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}





}


@media (min-width: 768px) and (max-width: 1024px) {

 .Hero-container{
    grid-column: span 2;
 }


 .story{
    grid-column: span 3;
}

.who-we-are-heading{
    grid-column: span 3;
}
.who-we-are-text-1 {
    grid-column: span 1;
}

.who-we-are-text-2 {
    grid-column: span 1;
}











}


@media (min-width: 1024px){


    
}